body {
  font-family: Arial;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
}

h1, h2, h3 {
  color: #333;
}

img {
  display: block;
  margin: 10px auto;   /* căn giữa */
  width: 90%;     /* không bị tràn */
  height: auto;
}

.figure {
  text-align: center;
  margin: 20px 0;
}

.caption {
  font-style: italic;
  font-weight: bold;
  color: #0f0f0f;
  font-size: 14px;
}

.video {
  max-width: 800px;
  margin: 30px auto;
}

.video iframe {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}